## Dictionaries in Python

Define a dictionary

In [1]:
person = {
    "name": "John",
    "age": 30,
    "city": "New York"
}

In [2]:
person

{'name': 'John', 'age': 30, 'city': 'New York'}

In [3]:
person.keys()

dict_keys(['name', 'age', 'city'])

In [4]:
person.values()

dict_values(['John', 30, 'New York'])

You can access the value with the respective key

In [5]:
person['name']

'John'

In [ ]:
age = person['age']

In [9]:
for key, value in person.items():
    print(f"{key}: {value}")

name: John
age: 30
city: New York

define an empty dictionary and fill it

In [6]:
new_dictionary = {}

In [15]:
age = 'age'
new_dictionary[age] = 30

In [8]:
new_dictionary

{'age': 30}

In [16]:
new_dictionary[age] += 1

new_dictionary

{'age': 31}

fill in dictionary iteratively

In [10]:
words = ["apple", "banana", "apple", "orange", "banana", "apple"]
word_count = {}
for word in words:
    word_count[word] = word_count.get(word, 0) + 1
print(word_count)  # Outputs: {'apple': 3, 'banana': 2, 'orange': 1}

{'apple': 3, 'banana': 2, 'orange': 1}